html{
    scroll-behavior: smooth;
}

body {
    background-color: #fefefe;
    text-align: center;
}

#refreshBtn , #randomBtn {
    display:inline-block;
}

#jumbotronID{
    background-image: url(../images/plantBanner.jpg); 
    background-size: cover;
    height:100vh; 
}

#plantBannerID{
    color:white;
}
